{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <main>
        <h1>
            <img src="{{ asset('build/images/logo.png') }}" id="colizey-logo" alt="colizey logo"/>
        </h1>
        <div class="input-container">
            <img src="{{ asset('build/images/search.png') }}" id="search" alt="search image"/>
            <input
                type="text"
                id="text"
                placeholder=""
                class="text"
            />
        </div>
        <div class="button resultSearch">
            <button class="redirectToResult" data-url-to-result-page="{{ path("app_result_search") }}">Recherche</button>
        </div>
    </main>
{% endblock %}
